<section class="tab-section alternative-cards-wrapper">

	{% assign section = include.content %}

	{% for card in section.cards %}

		{% assign card_id = card.title | slugify %}

		<div class="alternative-card">

			<div	class="alternative-card-icon"
					style="--background-icon:
						url('{{ site.baseurl }}/{{ card.image }}')">
			</div>

			<h6 class="alternative-card-title">
				{{ card.title }}
			</h6>

			{% for text in card.text %}

				<p class="alternative-card-text">
					{{ text.paragraph }}
				</p>

			{% endfor %}

			<button class="alternative-button"
					id="{{ card_id }}-display-button">
				Open details
			</button>

		</div>

		<div	class="modal-wrapper"
				id="{{ card_id }}-modal-wrapper">

			<div	class="modal"
					id="{{ card_id }}-modal">

				<div class="modal-button-wrapper">

					<button	class="button tertiary large"
							id="{{ card_id }}-hide-button"
							style="--icon-left:
								url('{{ site.baseurl }}/assets/icons/file-check.svg')">
						Got It!
					</button>

				</div>

				<div class="modal-content">

					{% assign modal = site.modals
						| where: "slug", card.modal | first %}

					<article class="modal-content">
						{{ modal.content | markdownify }}
					</article>

				</div>

			</div>

		</div>

	{% endfor %}

</section>
