<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <img src="images/itowns_logo_300x134.png" alt="iTowns logo">
        </header>
        <p>iTowns is a <strong>JS/WebGL</strong> framework for
        <br />
        <strong>3D</strong> geospatial data visualization
        <br />
        </p>
        <footer>
            See <strong><a href="#video">videos</a></strong> or try a <strong><a href="#demo">live demo</a></strong>.
        </footer>

    </div>

</section>
