<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <img src="images/itowns_logo_300x134.png" alt="iTowns logo">
        </header>
        <p>iTowns is a <a href="http://threejs.org">Three.js</a>-based <strong>JS/WebGL</strong> framework for
        <br />
        <strong>3D</strong> geospatial data visualization
        <br />
        </p>
        <footer>
          See <strong><a href="#video">videos</a></strong>,
          try a <strong><a href="/itowns2/examples/index.html">live demo</a></strong>,
          download <strong><a href="https://github.com/itowns/itowns/release/latest">latest release</a></strong>,
          read <strong><a href="/itowns2/API_Doc">the doc</a></strong>
          or head directly to our <strong><a href="https://github.com/itowns/itowns">Github repository</a></strong> to get started.
          <br>
        </footer>

    </div>

</section>
