<header id="header">
				<h1 id="logo"><a href="/">iTowns <span>by iTowns team</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
						<li class="submenu">
							<a href="">Go to</a>
							<ul>
								<li><a href="#what">What is it ?</a></li>
								<li><a href="#data_types">Supported data types</a></li>
								<li><a href="#features">Features</a></li>
								<li><a href="#sample_data">Sample data</a></li>
								<li><a href="#get_started">Getting started</a></li>
								<li><a href="#video">Video</a></li>
								<li><a href="#demo">Live demo</a></li>
								<li><a href="#credits">Credits and notes</a></li>
							</ul>
<!--                            <ul>
                                <li><a href="/left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="/right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="/no-sidebar.html">No Sidebar</a></li>
                                <li><a href="/contact.html">Contact</a></li>
                                <li class="submenu">
                                    <a href="">Submenu</a>
                                    <ul>
                                        <li><a href="#">Dolore Sed</a></li>
                                        <li><a href="#">Consequat</a></li>
                                        <li><a href="#">Lorem Magna</a></li>
                                        <li><a href="#">Sed Magna</a></li>
                                        <li><a href="#">Ipsum Nisl</a></li>
                                    </ul>
                                </li>
                            </ul>-->
						</li>
<!-- 						<li><a href="#" class="button special">Sign Up</a></li> -->
					</ul>
				</nav>
			</header>