$TABLET_BREAKPOINT: 1100px;
$MOBILE_BREAKPOINT: 750px;

:root {
  /* Background */
  --background-blue-950: #0D2237;
  --background-blue-800: #164B76;
  --background-light-blue: #E3EFFB;
  --background-green: #AFEBD1;
  --background-dark-green: #0E4639;
  --background-light-green: #D6F5E6;
  --background-lighter-green: #EEFBF5;
  --background-light-gray: #F6F6F6;
  --background-gray: #D3D3D3;
  --background-orange: #FF8E2B;
  --background-light-orange: #FFEED4;
  --background-white: #FFFFFF;
  --background-pink: #FFCCD3;
  --background-light-pink: #FFE3E6;
  --background-transparent-gray: rgba(22, 22, 22, 0.64);
  --links-hover-color: rgba(224, 234, 244, 0.15); /* transparent gray */

  /* Border */
  --border-blue: #0D2237;
  --border-light-gray: #F6F6F6;
  --border-gray: #343434;
  --border-green: #68D4AD;
  --border-medium-gray: #AFAFAF;
  --border-orange: #FE7611;
  --border-dark-pink: #4E0319;

  /* Filter */
  --filter-primary: brightness(0)
                    saturate(100%)
                    invert(11%)
                    sepia(9%)
                    saturate(5257%)
                    hue-rotate(174deg)
                    brightness(95%)
                    contrast(96%);
  --filter-secondary: brightness(0)
                      saturate(100%)
                      invert(100%)
                      sepia(0%)
                      saturate(1400%)
                      hue-rotate(167deg)
                      brightness(114%)
                      contrast(93%);
  --filter-tertiary: brightness(0)
                     saturate(100%)
                     invert(86%)
                     sepia(29%)
                     saturate(690%)
                     hue-rotate(95deg)
                     brightness(90%)
                     contrast(83%);

  /* Gradient */
  --background-secondary: #68D4AD;
  --background-tertiary: #FE7611;
  --background-quaternary: #0E4639;

  /* Icon */
  --icon-size-L: 24px;
  --icon-size-M: 20px;
  --icon-size-S: 12px;

  /* Radius */
  --radius-XL: 10px;
  --radius-L: 6px;
  --radius-M: 4px;
  --radius-S: 2px;

  /* Spacing */
  --spacing-none: 0;
  --spacing-3XS: 4px;
  --spacing-2XS: 8px;
  --spacing-XS: 12px;
  --spacing-S: 16px;
  --spacing-L: 24px;
  --spacing-XL: 32px;
  --spacing-2XL: 40px;
  --spacing-3XL: 80px;
  --spacing-4XL: 120px;

  /* Text */
  --text-primary: #0D2237;
  --text-secondary: #343434;
  --text-primary-invert: #F6F6F6;
  --text-secondary-invert: #68D4AD;
  --text-orange: #FE7611;
  --text-label: #4E0319;
  --text-label-invert: #FFE3E6;
}

