<footer class="footer">

	<div class="footer-partners-wrapper">

		<div class="footer-partner">

			<img	class="footer-partner-image"
					src="{{ site.baseurl }}/assets/images/logo-itowns.png"
					alt="iTowns logo">

		</div>

		<div class="footer-partner">

			<img	class="footer-partner-image"
					src="{{ site.baseurl }}/assets/images/logo-ign.png"
					alt="IGN logo">

		</div>

		<div class="footer-partner">

			<img	class="footer-partner-image"
					src="{{ site.baseurl }}/assets/images/logo-ciril.png"
					alt="Ciril Group logo">

		</div>

	</div>

	<div class="footer-links-wrapper">

		<a	class="nav-link decorated small"
	 		href="{{ site.baseurl }}/page-not-ready"
			title="Legal notices">
			Legal
		</a>

		<a	class="nav-link decorated small"
	 		href="{{ site.baseurl }}/page-not-ready"
			title="Accessibility">
			Accessibility
		</a>

		<a	class="nav-link decorated small"
	 		href="{{ site.baseurl }}/page-not-ready"
			title="Site map">
			Site map
		</a>

	</div>

</footer>
