@media (max-width: $TABLET_BREAKPOINT) {
  .alternative-card {
    padding: var(--spacing-S);

    gap: var(--spacing-S);
  }

  .alternative-card-title {
    font-size: 20px;
  }

  .alternative-card-text {
    font-size: 14px;
  }

  .modal {
    max-height: 90vh;
    padding: var(--spacing-L);
    width: 90vw;
  }
}
