.card {
  border: 1px solid var(--border-medium-gray);
  border-radius: var(--radius-L);
  padding: var(--spacing-XL);

  background-color: var(--background-white);
  box-shadow: 4px 4px 1px 0 var(--background-gray);

  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex: 1 0 25%;
  gap: var(--spacing-XL);
}

.card-title {
  margin: 0;
  padding-left: var(--spacing-S);

  background-color: var(--background-light-gray);

  align-self: stretch;

  font-size: 22px;
  font-weight: 900;
}

.card-tags-wrapper {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-XL);

  list-style: none;
}

.card-tag {
  border-radius: var(--radius-S);
  border: 1px solid var(--border-dark-pink);
  padding: var(--spacing-2XS) var(--spacing-XS);

  background-color: var(--background-pink);

  color: var(--text-label);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-XL);
}

.card-text {
  margin: 0;

  font-size: 18px;
}

.card-text:has(> a.button) {
  align-self: stretch;
  display: flex;
  justify-content: flex-end
}

.card-text > a.button[target="_blank"]::after {
  background-size: var(--icon-size-M) var(--icon-size-M);
  height: var(--icon-size-M);
  width: var(--icon-size-M);

  filter: var(--filter-primary);
  background-image: url('../icons/external-link.svg');

  content: '';

  display: flex;
}

.card.small {
  padding: var(--spacing-L);

  gap: var(--spacing-L);
}

.card.small .card-title {
  font-size: 20px;
  font-weight: 700;
}

.card.small .card-tags-wrapper {
  gap: var(--spacing-S);
}

.card.small .card-tag {
  padding: 6px var(--spacing-XS);

  font-size: 12px;
}

.card.small .card-text {
  font-size: 14px;
}

