@media (max-width: $MOBILE_BREAKPOINT) {
  .card {
    padding: var(--spacing-L);

    gap: var(--spacing-L);
  }

  .card-title {
    font-size: 20px;
    font-weight: 700;
  }

  .card-tags-wrapper {
    gap: var(--spacing-S);
  }

  .card-tag {
    padding: 6px var(--spacing-XS);

    font-size: 12px;
  }

  .card-text {
    font-size: 14px;
  }
}

