.tab-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-XL);
}

.tab-section-title {
  margin: 0;

  font-size: 24px;
}

.tab-section:nth-of-type(1) .tab-section-title {
  background-color: var(--background-light-orange);
}
.tab-section:nth-of-type(2) .tab-section-title {
  background-color: var(--background-light-green);
}
.tab-section:nth-of-type(3) .tab-section-title {
  background-color: var(--background-light-blue);
}
.tab-section:nth-of-type(4) .tab-section-title {
  background-color: var(--background-light-pink);
}

.tab-section-description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-S);
}

.tab-section-subtitle {
  margin: 0;

  font-size: 22px;
}

.tab-section-paragraph {
  margin: 0;

  font-size: 18px;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--spacing-XL);
}

