@media (max-width: $MOBILE_BREAKPOINT) {
  .dependencies-list {
    gap: var(--spacing-L);
  }

  .dependency {
    gap: var(--spacing-S);
  }

  .dependency-name {
    font-size: 16px;
  }

  .dependency-license {
    font-size: 14px;
  }

  .dependency a {
    font-size: 14px;
  }
}

