.footer-partners-wrapper {
  border-top: 1px solid var(--border-blue);
  padding: var(--spacing-S) var(--spacing-4XL);

  background-color: var(--background-light-gray);

  align-items: center;
  display: flex;
  gap: var(--spacing-XL);
}

.footer-partner {
  height: 64px;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
}

.footer-partner-image {
  max-height: 100%;
  max-width: 100%;
}

.footer-links-wrapper {
  padding: var(--spacing-S) var(--spacing-4XL);

  background-color: var(--background-blue-950);

  align-items: center;
  display: flex;
  gap: var(--spacing-L);
}

