@media (max-width: $TABLET_BREAKPOINT) {
  .footer-partners-wrapper {
    padding: var(--spacing-S) var(--spacing-XL);
  }

  .footer-links-wrapper {
    padding: var(--spacing-S) var(--spacing-XL);
  }
}

