@media (max-width: $MOBILE_BREAKPOINT) {
  .footer {
    padding-top: var(--spacing-none);
  }

  .footer-partners-wrapper {
    padding: var(--spacing-S);
    gap: var(--spacing-none);
  }

  .footer-links-wrapper {
    padding: var(--spacing-S);

    flex-direction: column;
    gap: var(--spacing-none);
  }
}

