.header {
  padding: var(--spacing-S) var(--spacing-4XL);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-S);

  position: relative;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}



/* ---------- Banner -------------------------------------------------------- */

.header-banner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* Brand */

.header-brand {
  align-items: center;
  display: flex;
  gap: var(--spacing-2XL);
}

.header-title {
  margin: 0;

  color: var(--text-primary-invert);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 115px;
}

.header-title-link {
  color: inherit;
  text-decoration: none;
}

.header-subtitle {
  background-color: var(--text-primary-invert);
  margin: 0;
  padding: var(--spacing-3XS);

  color: var(--text-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}


/* Tools */

.header-tools {
  display: flex;
  gap: var(--spacing-L);
}



/* ---------- Menu ---------------------------------------------------------- */

.header-button {
  border: none;
  box-sizing: content-box;
  height: 30px;

  background: none;

  color: var(--text-primary-invert);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  cursor: pointer;
}
.header-button:hover {
  background-color: var(--links-hover-color);
}

.burger-button {
  padding: var(--spacing-2XS) var(--spacing-S);
  width: 30px;

  display: none;
  flex-direction: column;
  justify-content: space-around;
}
.burger-button img {
  width: 100%;
}

.close-button {
  border-bottom: 2px solid var(--text-primary-invert);
  padding: var(--spacing-2XS);

  align-items: center;
  align-self: flex-end;
  display: none;
  gap: 16px;
  justify-content: center;
}

.header-menu .header-tools {
  display: none;
  flex-direction: column;
  gap: var(--spacing-XL);
}

.header-nav-bar {
  align-items: center;
  display: flex;
  gap: var(--spacing-2XL);
}

