@media (max-width: $MOBILE_BREAKPOINT) {
  .header {
    padding: var(--spacing-S) var(--spacing-XS);
  }

  .header-banner {
    align-items: flex-start;
  }

  .header-brand {
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-L);
  }

  .header-title {
    font-size: 32px;
    line-height: normal;
  }

  .header-subtitle {
    font-size: 14px;
  }

  .burger-button {
    padding: var(--spacing-none);
  }
}

