.main-dependencies-wrapper {
  align-items: stretch;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.main-dependencies-graphics {
  align-items: center;
  display: flex;
}

.main-dependencies-wrapper .cards-wrapper {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-dependencies-wrapper .card {
  flex: 0 0 auto;
}

