.organisation-chart {
  margin: var(--spacing-none);
  padding: var(--spacing-2XS) var(--spacing-none);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-L);
}

.contributor-wrapper {
  border-radius: 50%;
  height: 88px;
  width: 88px;

  overflow: hidden;

  align-items: center;
  display: flex;
  justify-content: center;
}

.contributor-link {
  height: 100%;
  width: 100%;
}

.contributor-picture {
  height: 100%;
  width: 100%;
}

.organisation-button {
  align-self: flex-end;
}

