.subheader {
  padding: 56px var(--spacing-4XL);

  align-items: center;
  display: flex;
  gap: 36px;
  justify-content: flex-start;
}

.subheader-title {
  margin: 0;
  padding: var(--spacing-2XS) var(--spacing-S);

  background-color: var(--background-orange);

  flex-shrink: 0;

  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.subheader-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.subheader-description {
  margin: 0;

  font-size: 20px;
}

