@media (max-width: $TABLET_BREAKPOINT) {
  .tab-bar {
    padding: var(--padding-none);

    flex-direction: column;

    overflow: hidden;

    opacity: 1;
    transition: opacity .3s, visibility .3s;
    visibility: inherit;
  }

  .tab-bar.collapsed {
    max-height: 0;
    padding: var(--padding-none);

    opacity: 0;
    transition: opacity .3s, visibility .3s;
    visibility: hidden;
  }

  .tab-bar li {
    width: 100%;
  }

  .tab-bar-item {
    border-bottom-width: 1px;
    border-radius: 0;
    padding: var(--spacing-2XS);
    width: 100%;

    font-size: 12px;
  }

  .tab-bar-item.active {
    border-color: var(--border-light-gray);

    background-color: var(--background-blue-950);

    color: var(--text-primary-invert);
  }

  .tab-bar-item:hover {
    border-color: var(--border-blue);

    background-color: var(--background-blue-800);
  }

  .active-tab {
    border-color: var(--border-blue);
    border-style: solid;
    border-width: 1px 0;
    box-sizing: border-box;
    padding: var(--spacing-S) var(--spacing-XL);
    width: 100%;

    background-color: var(--background-white);

    align-items: center;
    display: flex;
    justify-content: space-between;

    color: var(--text-primary);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  .active-tab:hover {
    cursor: pointer;
  }

  .active-tab::before,
  .active-tab::after {
    height: 20px;
    width: 20px;

    background-size: 20px 20px;

    display: flex;
  }

  .active-tab::before {
    content: var(--before-image);
  }

  .active-tab::after {
    content: var(--after-image-arrow-up);
  }

  .active-tab-wrapper:has(+.collapsed) {
    .active-tab::after {
      content: var(--after-image-arrow-down);
    }
  }
}

