@media (max-width: $TABLET_BREAKPOINT) {
  .tab-content-wrapper {
    padding: var(--spacing-XL);
    padding-bottom: var(--spacing-4XL);

    gap: var(--spacing-2XL);
  }

  .tab-header {
    gap: var(--spacing-XL);
  }
}

